.module {
    margin-top: 20px;
}

.module-name {
    font-size: 18px;
}

.module-info {
    font-size: 16px;
    font-weight: 400;
}

.pluses .pluses-title {
    font-size: 18px;
    font-weight: 500;
    color: rgba(138, 196, 75, 1);
}

.minuses .minuses-title {
    font-size: 18px;
    font-weight: 500;
    color: rgba(240, 68, 56, 1);
}

.spisok {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    justify-content: space-between;
    @media(max-width: 335px) {
        gap: 3px;
    }
}

.plashka {
    background: rgba(241, 241, 245, 1);
    border-radius: 10px;
    text-align: center;
    width: calc(33.333% - 10px);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    @media(max-width: 335px) {
        width: calc(33.333% - 6px);
    }
}

.plashka .for-image {
    width: 70%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-grow: 1;
}

.plashka .for-image img {
    max-width: 95%;
    max-height: 95%;
    height: auto;
}

.plashka-text {
    margin-top: 5px;
    font-size: 10px;
    margin-bottom: 3px;
    word-break: break-word; /* Разрешает перенос слов */
    white-space: pre-wrap; /* Сохраняет пробелы и переносы строк */
}

.map {
    width: 100%;
    height: 130px;
}