<div class="main">
    <!-- <app-first></app-first>
    <app-second></app-second>
    <app-freeth></app-freeth> -->
    <div class="main-main">
        <div class="plashka" style="margin-top: 20px;" routerLink="/profile">
            <p>Мой профиль</p>
            <img src="assets/data/icons/Check Profile.png" alt="">
        </div>
        <div class="plashka" routerLink="/take">
            <p>Снять квартиру</p>
            <img src="assets/data/icons/Apartment.png" alt="">
        </div>
        <div class="plashka" routerLink="/give">
            <p>Сдать квартиру</p>
            <img src="assets/data/icons/Lock & Key.png" alt="">
        </div>
        <div class="plashka" routerLink="/my">
            <p>Мои объявления</p>
            <img src="assets/data/icons/Fist Bump Gesture (3).png" alt="">
        </div>
    </div>
</div>
