<!-- <div class="main">
    <div class="main-main">
        <div class="plashka plashka-one" routerLink="/profile">
            <p>Мой профиль</p>
            <img style="bottom: 0; border-bottom-right-radius: 30px;" src="assets/data/icons/image 1.svg" alt="">
        </div>
        <div class="plashka" (click)="checkAndNavigate()">
            <p>Снять квартиру</p>
            <img style="bottom: 0; border-bottom-right-radius: 30px;" src="assets/data/icons/image.svg" alt="">
        </div>
        <div class="plashka" routerLink="/give/verification">
            <p>Сдать квартиру</p>
            <img src="assets/data/icons/image (1).svg" alt="">
        </div>
        <div class="plashka" routerLink="/my">
            <p>Мои объявления</p>
            <img src="assets/data/icons/image (2).svg" alt="">
        </div>
    </div>
</div> -->

<div class="main">
    <div class="main-main">
        <div class="f-plashka" (click)="checkAndNavigate()">
            <p>Снять квартиру</p>
            <img src="../../../../assets/data/icons/profile/profile-mew/image-Photoroom (1)-Picsart-AiImageEnhancer 1.svg" alt="">
        </div>
        <div class="s-plashka" routerLink="/give/verification">
            <p>Сдать квартиру</p>
            <img src="../../../../assets/data/icons/profile/profile-mew/image-Photoroom (9) 2.svg">
        </div>
        <div class="f-polosa">
            <div class="left-plashka" routerLink="/profile">
                <p>Мой <br> профиль</p>
                 <img src="../../../../assets/data/icons/profile/profile-mew/image-Photoroom (7) 3.svg" alt="">
                    
            </div>
            <div class="right-plashka" routerLink="/my">
                <p>Мои <br> объявления</p>
                <img src="../../../../assets/data/icons/profile/profile-mew/image-Photoroom (11) 1 (2).svg" alt="">
            </div>
        </div>
    </div>
</div>
