<div class="main">
    <!-- <app-first></app-first>
    <app-second></app-second>
    <app-freeth></app-freeth> -->
    <div class="main-main">
        <div class="plashka plashka-one" routerLink="/profile">
            <p>Мой профиль</p>
            <img style="bottom: 0; border-bottom-right-radius: 30px;" src="assets/data/icons/image 1.svg" alt="">
        </div>
        <div class="plashka" (click)="checkAndNavigate()">
            <p>Снять квартиру</p>
            <img style="bottom: 0; border-bottom-right-radius: 30px;" src="assets/data/icons/image.svg" alt="">
        </div>
        <div class="plashka" routerLink="/give/verification">
            <p>Сдать квартиру</p>
            <img src="assets/data/icons/image (1).svg" alt="">
        </div>
        <div class="plashka" routerLink="/my">
            <p>Мои объявления</p>
            <img src="assets/data/icons/image (2).svg" alt="">
        </div>
    </div>
</div>
