<div class="bottom-module">
    <div class="for-more" routerLink="../ad-more">
        <p>Подробнее</p>
    </div>
    <div class="actions">
        <div class="arrow-icon">
          <img src="assets/data/icons/forward_btn-left.svg" alt="">
        </div>
        <button>Откликнуться</button>
        <div class="circle-icon">
          <img src="assets/data/icons/forward_btn-like.svg" alt="">
        </div>
        <div class="arrow-icon">
          <img src="assets/data/icons/forward_btn-right.svg" alt="">
        </div>
    </div>
</div>