<div class="main-module">
  <div class="mmm">
    <div class="info">
      <div class="adress">
        <p>{{ address }}</p>
      </div>
      <div class="metro">
        <img src="assets/data/icons/metroo.svg" alt="Metro icon">
        <p class="metro-name">{{ metroName }}</p>
      </div>
      <div class="price">
        <p>{{ price }}</p>
        <p class="data">{{ listing && listing.created_at ? calculateDate(listing.created_at) : 'Не указано' }}</p>
      </div>
    </div>
    <div class="main-image">
      <img #mainImage [src]="imageUrls[0] || 'assets/placeholder.jpg'" alt="Main image" (window:resize)="onResize($event)" (click)="onImageClick(imageUrls[0])">
      <p *ngIf="getPriceCondition()" [ngStyle]="{'background-color': getBackgroundColor()}">
        Цена {{ getPriceCondition() }}
      </p>
    </div>
    <div class="images-pack">
      <img *ngFor="let url of imageUrls | slice:1:4" #image [src]="url || 'assets/placeholder.jpg'" alt="Thumbnail" (click)="onImageClick(url)">
    </div>

    <div class="module" *ngIf="contact">
      <p class="module-name">Номер телефона</p>
      <p class="module-info">{{ contact }}</p>
    </div>
    <div class="module">
      <p class="module-name">Количество комнат</p>
      <p class="module-info">{{ listing?.rooms }}</p>
    </div>
    <div class="module">
      <p class="module-name">Этаж</p>
      <p class="module-info">{{ floor }}</p>
    </div>
    <div class="module">
      <p class="module-name">Площадь квартиры</p>
      <p class="module-info">{{ square }} кв.м.</p>
    </div>
    <div class="module">
      <p class="module-name">Описание квартиры</p>
      <p class="module-info">{{ description }}</p>
    </div>
    <div class="module" *ngIf="pluses.length">
      <div class="pluses">
        <p class="pluses-title">Плюсы</p>
        <div class="spisok">
          <div class="plashka" *ngFor="let plus of pluses" [ngStyle]="{'border': '2px solid rgba(138, 196, 75, 1)'}">
            <div class="for-image">
              <img [src]="plus.icon" alt="Icon" loading="lazy">
            </div>
            <p class="plashka-text" [innerHTML]="plus.text"></p>
          </div>
        </div>
      </div>
    </div>
    <div class="module" *ngIf="minuses.length">
      <div class="minuses">
        <p class="minuses-title">Минусы</p>
        <div class="spisok">
          <div class="plashka" *ngFor="let minus of minuses" [ngStyle]="{'border': '2px solid rgba(240, 68, 56, 1)'}">
            <div class="for-image">
              <img [src]="minus.icon" alt="Icon" loading="lazy">
            </div>
            <p class="plashka-text" [innerHTML]="minus.text"></p>
          </div>
        </div>
      </div>
    </div>
    <div class="module" style="margin-top: 30px;">
      <div id="map" class="map"></div>
    </div>
    <app-ad-more-bottom></app-ad-more-bottom>
  </div>
</div>
<div class="overlay" *ngIf="isOverlayVisible" (click)="onBackgroundClick()">
  <div class="slider">
    <img *ngFor="let url of imageUrls" [src]="url || 'assets/placeholder.jpg'" alt="Slider image" (click)="onImageClick(url)">
  </div>
</div>