<div class="main-module">
    <div class="mmm">
        <p class="title">Выберите вариант съема</p>
        <div class="for-vibor">
            <div routerLink="./take" class="one-for-vibor">
                <p>Продолжительное <br> проживание</p>
                <img class="one-img" src="assets/data/icons/vibor1.svg" alt="">
            </div>
            <div routerLink="./take" class="one-for-vibor">
                <p>Посуточное <br> проживание</p>
                <img class="two-img" src="assets/data/icons/vibor2.svg" alt="">
            </div>
        </div>
    </div>
</div>
