.main-module-for-plashka {
    position: fixed; /* Фиксируем элемент относительно окна браузера */
    top: 49.0%; /* Центрируем по вертикали */
    left: 50%; /* Центрируем по горизонтали */
    transform: translate(-50%, -50%); /* Сдвигаем элемент назад на 50% его ширины и высоты */
    width: 94vw;
    height: calc(97vh - 113px);
    background-color: rgba(241, 241, 245, 1);
    overflow: hidden; /* Убедитесь, что это значение правильное */
    overflow: auto;
    max-width: 600px;
    margin: 0 auto;
}

.module-plashka {
    width: 100%;
    background-color: rgba(255, 255, 255, 1);
    border-radius: 20px;
    margin-top: 10px;
    margin-bottom: 5px;
    display: flex;
    align-items: center;
    padding: 10px 0;

    .image-container {
        width: 40%;
        height: 100px;
        margin-left: 20px;
        border-radius: 20px;
        overflow: hidden; /* Убедитесь, что изображение не выходит за пределы контейнера */

        img {
            width: 100%;
            height: 100%;;
            object-fit: cover; /* Убедитесь, что изображение заполняет контейнер */
            object-position: center; /* Центрирует изображение внутри контейнера */
            box-sizing: border-box; /* Включает отступы и границы в общие размеры элемента */
            display: block; /* Убедитесь, что изображение отображается как блочный элемент */
        }
    }

    .module-plashka-info {
        height: 100px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 55%;
        padding: 0 10px;

        .adress {
            padding-top: 2px;
            font-size: 12px;
            font-weight: 300;
        }

        .metro{
            display: flex;
            align-items: center;
            margin-top: 10px;
            margin-bottom: 10px;
            img{
              padding-right: 5px;
              height: 18px;
              @media (max-width: 420px){
                height: 14px;
              }
              @media (max-width: 380px){
                height: 10px;
              }
              @media (max-width: 340px){
                height: 10px;
              }
              @media(max-height:620px) and (min-width:375px){
                height: 12px;
              }
            }
            
            .metro-name{
                font-weight: 300;
                font-size: 16px;
                color: rgba(0, 0, 0, 1);
                padding-right: 3px;
        
                @media (max-width: 420px){
                    font-size: 14px;
                }
                @media (max-width: 380px){
                    font-size: 10px;
                }
                @media (max-width: 340px){
                    font-size: 10px;
                }
                @media(max-height:620px) and (min-width:375px){
                  font-size: 12px;
                }
            }
            .metro-info{
              font-weight: 300;
                font-size: 15px;
                color: rgba(100, 100, 100, 1);
        
                @media (max-width: 420px){
                    font-size: 13px;
                }
                @media (max-width: 380px){
                    font-size: 10px;
                }
                @media (max-width: 340px){
                    font-size: 9px;
                }
                @media(max-height:620px) and (min-width:375px){
                  font-size: 11px;
                }
            }
          }

        .price {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding-bottom: 10px;
            p{
                font-weight: 600;
                font-size: 14px;
                color: rgba(0, 0, 0, 1);
                @media (max-width: 420px){
                    font-size: 13px;
                }
                @media (max-width: 380px){
                    font-size: 12px;
                }
                @media (max-width: 340px){
                    font-size: 10px;
                }
                @media(max-height:620px) and (min-width:375px){
                  font-size: 12px;
                }
            }
            .data{
              font-weight: 300;
                font-size: 14px;
                color: rgba(100, 100, 100, 1);
        
                @media (max-width: 420px){
                    font-size: 12px;
                }
                @media (max-width: 380px){
                    font-size: 10px;
                }
                @media (max-width: 340px){
                    font-size: 8px;
                }
                @media(max-height:620px) and (min-width:375px){
                  font-size: 10px;
                }
            }
        }
    }
}
.bottom-module {
    position: fixed;
    bottom: 10px;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.bottom-info {
    margin: 0;
    margin-bottom: 5px;
    font-weight: 300;
    font-size: 10px;
    color: rgba(0, 0, 0, 1);
}

.module-for-delete {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border-radius: 30px;
    margin: 0 auto;
    cursor: pointer;
    flex: 1;
    width: 90%;
    box-sizing: border-box;
    background-color: rgba(255, 255, 255, 1);
}

.module-for-delete p {
    margin: 0;
    margin-right: 10px;
    font-weight: 500;
    color: rgba(0, 0, 0, 1);
}

.module-for-delete img {
    width: auto;
    height: 20px;
}






















.main-module-for-plashka-b{
    background-color: rgba(241, 241, 245, 1);
    width: 97.5%;
        max-width: 600px;
    margin: 0 auto;
    height: calc(100vh - 70px);
    display: flex;
    justify-content: center; /* Центрирование по горизонтали */
    align-items: center; /* Центрирование по вертикали */
    .window{
        height: 96%;
        width: 94%;
        background-color: rgba(255, 255, 255, 1);
        border-radius: 20px;
        display: flex;
        flex-direction: column;
    }
    
    .main-block{
        margin-top: 22.72%;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    
        svg{
            width: 45.45%;
        }
    
        p{
            margin-top: 9.09%;
            font-size: 1.25rem;
            font-weight: 500;
            line-height: 1.2;
            letter-spacing: -0.03em;
            text-align: center;
            color: #000;
        }
    
    }
    
    .bottom-module-b{
        height: 5vh;
        width: 90.90%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 0px auto;
        margin-top: 22.72%;
        .left{
            height: 100%;
            width: 100%;
            background-color: rgba(52, 199, 89, 1);
            color: rgba(255, 255, 255, 1);
            font-size: 2.5vh;
            font-weight: 500;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 30px;
        }
    }
}

