<div class="main-module-for-plashka">
    <div class="window">
        <img class="main" src="assets/data/icons/referrals/main-icon.svg" alt="">
        <p class="opisanie">Приглашайте друзей<br>
            и получайте деньги за приглашение!</p>
        <div class="plashka">
            <img src="assets/data/icons/referrals/box1.svg" alt="">
            <p>Другу скидка на подписку</p>
        </div>
        <div class="plashka">
            <img src="assets/data/icons/referrals/box2.svg" alt="">
            <p>Вам % с транкзации друга</p>
        </div>
        <p class="bal">Ваш баланс</p>
        <div class="main-plashka">
            <div class="left-plashka">
                <img src="assets/data/icons/referrals/coin.svg" alt="">
                <p>100 р.</p>
            </div>
            <div class="right-plashka">
                <img src="assets/data/icons/referrals/icon11.svg" alt="">
            </div>
        </div>
        <p class="friends">Ваши друзья</p>
        <div class="fr-plashka">
            <div class="left">
                <img src="https://i.pinimg.com/originals/14/e7/86/14e786ca46fa19afb4d89ca53a63887f.jpg" alt="">
                <img src="https://i.pinimg.com/736x/6a/52/78/6a527897d49e520ae89b61676f5c1dc4.jpg" alt="">
                <img src="https://s.yimg.com/ny/api/res/1.2/x5i_Zmhv4CrbomBPt4SOBA--/YXBwaWQ9aGlnaGxhbmRlcjt3PTEyNDI7aD02OTk-/https://media.zenfs.com/en-US/homerun/etonline.tv/e91db3586a2e2034413cb2aa008d0d7c" alt="">
                <img src="https://i.pinimg.com/736x/f3/c2/19/f3c219bdcd0c40b38dd5c27e7ab29454.jpg" alt="">
            </div>
            <div class="right">
                <p>4 друга</p>
                <img src="assets/data/icons/referrals/Forward (1).svg" alt="">
            </div>
        </div>
        <div class="bottom-module">
            <button class="left">
                Пригласить друга
            </button>
            <div class="right">
                <img src="assets/data/icons/referrals/copy1.svg" alt="">
            </div>
        </div>
    </div>
</div>